@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

/* Navbar style */
.nav-top-bg {
    background-color: #2874f0;
}

.nav-bg {
    background-color: #4084f2;
}

.nav-logo>a>img {
    max-width: 80px;
    max-height: 50px;
}

/* Banner carousel Style */



.react-multiple-carousel__arrow {
    background: none !important;
    z-index: 10 !important;

}

.react-multi-carousel-dot>button {
    display: none !important;
}

.react-multi-carousel-dot {
    width: 3rem;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 0.1rem;
    border: none;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

.react-multi-carousel-dot--active {
    background-color: white;
}