<div class="a-fixed-left-grid-inner" style="padding-left:40px">
    <div id="altImages" class="a-fixed-left-grid-col a-col-left" style="width:40px;margin-left:-40px;float:left;">
        <ul
            class="a-unordered-list a-nostyle a-button-list a-vertical a-spacing-top-extra-large regularAltImageViewLayout">
            <li class="a-spacing-small 360IngressTemplate pos-360 aok-hidden"><span class="a-list-item"> <span
                        class="a-declarative" data-action="thumb-action" data-csa-c-type="widget"
                        data-csa-c-func-deps="aui-da-thumb-action" data-thumb-action="{}"
                        data-csa-c-id="nvfkz8-4nqk4n-muy5uw-um5e1n"> <span
                            class="a-button a-button-thumbnail a-button-toggle" id="a-autoid-0"><span
                                class="a-button-inner"><input class="a-button-input" type="submit"
                                    aria-labelledby="a-autoid-0-announce"><span class="a-button-text" aria-hidden="true"
                                    id="a-autoid-0-announce"> <img alt=""
                                        src="https://m.media-amazon.com/images/G/31/HomeCustomProduct/360_icon_73x73v2._CB485971317_SX38_SY50_CR,0,0,38,50_FMpng_RI_.png">
                                </span></span></span> </span> </span></li>
            <li class="a-spacing-small template"><span class="a-list-item"> <span
                        class="a-button a-button-thumbnail a-button-toggle" id="a-autoid-1"><span
                            class="a-button-inner"><input class="a-button-input" type="submit"
                                aria-labelledby="a-autoid-1-announce"><span class="a-button-text" aria-hidden="true"
                                id="a-autoid-1-announce"> <span class="placeHolder"></span> </span></span></span>
                </span></li>
            <li class="a-spacing-small item imageThumbnail a-declarative" data-ux-click="" data-csa-c-type="uxElement"
                data-csa-c-element-type="navigational" data-csa-c-action="image-block-alt-image-hover"
                data-csa-c-posy="1" data-csa-c-id="9rg7nl-c7clki-x4b5ku-ffso9h"><span class="a-list-item"> <span
                        class="a-button a-button-thumbnail a-button-toggle" id="a-autoid-2"><span
                            class="a-button-inner"><input class="a-button-input" type="submit"
                                aria-labelledby="a-autoid-2-announce"><span class="a-button-text" aria-hidden="true"
                                id="a-autoid-2-announce"> <img
                                    src="https://m.media-amazon.com/images/I/41qbec9RbEL._SR38,50_.jpg">
                            </span></span></span> </span></li>
            <li class="a-spacing-small item imageThumbnail a-declarative" data-ux-click="" data-csa-c-type="uxElement"
                data-csa-c-element-type="navigational" data-csa-c-action="image-block-alt-image-hover"
                data-csa-c-posy="2" data-csa-c-id="i6enes-d5ltu5-c648s5-m9ra21"><span class="a-list-item"> <span
                        class="a-button a-button-thumbnail a-button-toggle" id="a-autoid-3"><span
                            class="a-button-inner"><input class="a-button-input" type="submit"
                                aria-labelledby="a-autoid-3-announce"><span class="a-button-text" aria-hidden="true"
                                id="a-autoid-3-announce"> <img
                                    src="https://m.media-amazon.com/images/I/41VBIs5j1mL._SR38,50_.jpg">
                            </span></span></span> </span></li>
            <li class="a-spacing-small item imageThumbnail a-declarative" data-ux-click="" data-csa-c-type="uxElement"
                data-csa-c-element-type="navigational" data-csa-c-action="image-block-alt-image-hover"
                data-csa-c-posy="3" data-csa-c-id="1afu9s-21dumy-l57q1t-uipgzw"><span class="a-list-item"> <span
                        class="a-button a-button-thumbnail a-button-toggle a-button-selected a-button-focus"
                        id="a-autoid-4"><span class="a-button-inner"><input class="a-button-input" type="submit"
                                aria-labelledby="a-autoid-4-announce"><span class="a-button-text" aria-hidden="true"
                                id="a-autoid-4-announce"> <img
                                    src="https://m.media-amazon.com/images/I/214oeshWfAL._SR38,50_.jpg">
                            </span></span></span> </span></li>
            <li class="a-spacing-small item imageThumbnail a-declarative" data-ux-click="" data-csa-c-type="uxElement"
                data-csa-c-element-type="navigational" data-csa-c-action="image-block-alt-image-hover"
                data-csa-c-posy="4" data-csa-c-id="y99dm-k9nxw0-9p0f1q-gy1umr"><span class="a-list-item"> <span
                        class="a-button a-button-thumbnail a-button-toggle" id="a-autoid-5"><span
                            class="a-button-inner"><input class="a-button-input" type="submit"
                                aria-labelledby="a-autoid-5-announce"><span class="a-button-text" aria-hidden="true"
                                id="a-autoid-5-announce"> <img
                                    src="https://m.media-amazon.com/images/I/51t+5GLtamL._SR38,50_.jpg">
                            </span></span></span> </span></li>
            <li class="a-spacing-small item imageThumbnail a-declarative" data-ux-click="" data-csa-c-type="uxElement"
                data-csa-c-element-type="navigational" data-csa-c-action="image-block-alt-image-hover"
                data-csa-c-posy="5" data-csa-c-id="oyr7n9-l0i6ao-ozqmqa-c5kxo4"><span class="a-list-item"> <span
                        class="a-button a-button-thumbnail a-button-toggle" id="a-autoid-6"><span
                            class="a-button-inner"><input class="a-button-input" type="submit"
                                aria-labelledby="a-autoid-6-announce"><span class="a-button-text" aria-hidden="true"
                                id="a-autoid-6-announce"> <img
                                    src="https://m.media-amazon.com/images/I/41wS5xfMfnL._SR38,50_.jpg">
                            </span></span></span> </span></li>
            <li class="a-spacing-small item imageThumbnail a-declarative" data-ux-click="" data-csa-c-type="uxElement"
                data-csa-c-element-type="navigational" data-csa-c-action="image-block-alt-image-hover"
                data-csa-c-posy="6" data-csa-c-id="gl9bhp-1v4s0i-ksdvyo-sbm91w"><span class="a-list-item"> <span
                        class="a-button a-button-thumbnail a-button-toggle" id="a-autoid-7"><span
                            class="a-button-inner"><input class="a-button-input" type="submit"
                                aria-labelledby="a-autoid-7-announce"><span class="a-button-text" aria-hidden="true"
                                id="a-autoid-7-announce"> <img
                                    src="https://m.media-amazon.com/images/I/4171+PsFxRL._SR38,50_.jpg">
                            </span></span></span> </span></li>
        </ul>
        <style type="text/css">
            #altIngressSpan {
                width: 38px;
                height: 50px;
            }
        </style>

    </div>
    <div class="a-text-center a-fixed-left-grid-col regularImageBlockViewLayout a-col-right"
        style="padding-left:1%;float:left;">
        <div class="a-row a-spacing-base a-grid-vertical-align a-grid-center canvas ie7-width-96" style="opacity: 1;">
            <div id="main-image-container" class="a-dynamic-image-container" style="height: 323.81px;">
                <div id="video-outer-container">
                    <div id="main-video-container" class="chromeful-container">
                    </div>
                    <div id="video-canvas-caption" class="a-row">
                        <div class="a-column a-span12 a-text-center"> <span id="videoCaption"
                                class="a-color-secondary"></span> </div>
                    </div>
                </div>
                <div class="a-hidden" id="auiImmersiveViewDiv"></div>
                <div class="variationUnavailable unavailableExp" style="display: none;">
                    <div class="inner">
                        <div class="a-box a-alert a-alert-error" role="alert">
                            <div class="a-box-inner a-alert-container">
                                <h4 class="a-alert-heading">Image Unavailable</h4><i class="a-icon a-icon-alert"></i>
                                <div class="a-alert-content"> <span class="a-text-bold"> Image not available
                                        for<br>Colour: <span class="unvailableVariation"></span>
                                    </span> </div>
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    var markFeatureRenderExecuted = false;
                    function markFeatureRenderForImageBlock() {
                        if (!markFeatureRenderExecuted) {
                            markFeatureRenderExecuted = true;
                            P.now().execute('dp-mark-imageblock', function () {
                                var options = {
                                    hasComponents: true,
                                    components: [{
                                        name: 'mainimage'
                                    }]
                                };
                                if (typeof window.markFeatureRender === 'function') {
                                    window.markFeatureRender('imageblock', options);
                                }
                            });
                        }
                    }
                </script>
                <!-- Append onload function to stretch image on load to avoid flicker when transitioning from low res image from Mason to large image variant in desktop -->
                <!-- any change in onload function requires a corresponding change in Mason to allow it pass in /mason/amazon-family/gp/product/features/embed-features.mi -->
                <!-- and /mason/amazon-family/gp/product/features/embed-landing-image.mi -->
                <ul class="a-unordered-list a-nostyle a-horizontal list maintain-height">
                    <li data-csa-c-action="image-block-main-image-hover" data-csa-c-element-type="navigational"
                        data-csa-c-posy="1" data-csa-c-type="uxElement" class="image item itemNo0 maintain-height"
                        style="cursor: pointer;" data-csa-c-id="6d07s-b5lkm4-w6rquw-uc117o"><span class="a-list-item">
                            <span class="a-declarative" data-action="main-image-click" data-csa-c-type="widget"
                                data-csa-c-func-deps="aui-da-main-image-click" data-main-image-click="{}"
                                data-ux-click="" data-csa-c-id="11cfd6-9c5943-4tb89n-te8qlt">
                                <div id="imgTagWrapperId" class="imgTagWrapper" style="height: 323.81px;">
                                    <img alt="Olivia burton Rainbow Analog Multi Dial Women&amp;#39;s Watch-OB16RB23"
                                        src="https://m.media-amazon.com/images/I/61EK4SZqtxL._UX385_.jpg"
                                        data-old-hires="https://m.media-amazon.com/images/I/61EK4SZqtxL._UL1200_.jpg"
                                        onload="markFeatureRenderForImageBlock(); this.onload='';setCSMReq('af');if(typeof addlongPoleTag === 'function'){ addlongPoleTag('af','desktop-image-atf-marker');};setCSMReq('cf')"
                                        data-a-image-name="landingImage" class="a-dynamic-image a-stretch-horizontal"
                                        id="landingImage"
                                        data-a-dynamic-image="{&quot;https://m.media-amazon.com/images/I/61EK4SZqtxL._UX569_.jpg&quot;:[569,569],&quot;https://m.media-amazon.com/images/I/61EK4SZqtxL._UX385_.jpg&quot;:[385,385],&quot;https://m.media-amazon.com/images/I/61EK4SZqtxL._UX466_.jpg&quot;:[466,466],&quot;https://m.media-amazon.com/images/I/61EK4SZqtxL._UX425_.jpg&quot;:[425,425],&quot;https://m.media-amazon.com/images/I/61EK4SZqtxL._UX342_.jpg&quot;:[342,342],&quot;https://m.media-amazon.com/images/I/61EK4SZqtxL._UX679_.jpg&quot;:[679,679],&quot;https://m.media-amazon.com/images/I/61EK4SZqtxL._UX522_.jpg&quot;:[522,522]}"
                                        style="max-width: 272px; max-height: 272px;">
                                </div>
                            </span> </span></li>
                    <li class="mainImageTemplate template"><span class="a-list-item"> <span class="a-declarative"
                                data-action="main-image-click" data-csa-c-type="widget"
                                data-csa-c-func-deps="aui-da-main-image-click" data-main-image-click="{}"
                                data-ux-click="" data-csa-c-id="ho9jzn-509hmf-81cxi5-wbkeeu">
                                <div class="imgTagWrapper">
                                    <span class="placeHolder"></span>
                                </div>
                            </span> </span></li>
                    <li class="swatchHoverExp a-hidden maintain-height"><span class="a-list-item"> <span
                                class="a-declarative" data-action="main-image-click" data-csa-c-type="widget"
                                data-csa-c-func-deps="aui-da-main-image-click" data-main-image-click="{}"
                                data-csa-c-id="d3w3uo-zdasw1-r25pib-tb5bla">
                                <div class="imgTagWrapper">
                                    <span class="placeHolder"></span>
                                </div>
                            </span> </span></li>
                    <li id="noFlashContent" class="noFlash a-hidden"><span class="a-list-item"> To view this video
                            download <a class="a-link-normal" target="_blank" rel="noopener noreferrer"
                                href="https://get.adobe.com/flashplayer"> Flash Player <span
                                    class="swSprite s_extLink"></span> </a> </span></li>
                    <li class="image item itemNo4 maintain-height" data-csa-c-type="uxElement"
                        data-csa-c-element-type="navigational" data-csa-c-action="image-block-main-image-hover"
                        data-csa-c-posy="5" style="cursor: pointer;" data-csa-c-id="xjuyte-8ffnrd-sljnu-bq3ukz"><span
                            class="a-list-item"> <span class="a-declarative" data-action="main-image-click"
                                data-csa-c-type="widget" data-csa-c-func-deps="aui-da-main-image-click"
                                data-main-image-click="{}" data-ux-click="" data-csa-c-id="ho9jzn-509hmf-81cxi5-wbkeeu">
                                <div class="imgTagWrapper" style="height: 323.81px;">
                                    <img src="https://m.media-amazon.com/images/I/71+QZHjB6cL._UX342_.jpg"
                                        class="a-dynamic-image a-stretch-horizontal" id=""
                                        style="max-height: 272px; max-width: 272px;"
                                        data-old-hires="https://m.media-amazon.com/images/I/71+QZHjB6cL._UL1200_.jpg"
                                        data-a-manual-replacement="true">
                                </div>
                            </span> </span></li>
                    <li class="image item itemNo3 maintain-height" data-csa-c-type="uxElement"
                        data-csa-c-element-type="navigational" data-csa-c-action="image-block-main-image-hover"
                        data-csa-c-posy="4" style="cursor: pointer;" data-csa-c-id="na0q9i-wpu488-puqpi-h7rdrg"><span
                            class="a-list-item"> <span class="a-declarative" data-action="main-image-click"
                                data-csa-c-type="widget" data-csa-c-func-deps="aui-da-main-image-click"
                                data-main-image-click="{}" data-ux-click="" data-csa-c-id="ho9jzn-509hmf-81cxi5-wbkeeu">
                                <div class="imgTagWrapper" style="height: 323.81px;">
                                    <img src="https://m.media-amazon.com/images/I/71Y2PrTnSkL._UX342_.jpg"
                                        class="a-dynamic-image a-stretch-horizontal" id=""
                                        style="max-height: 272px; max-width: 272px;"
                                        data-old-hires="https://m.media-amazon.com/images/I/71Y2PrTnSkL._UL1200_.jpg"
                                        data-a-manual-replacement="true">
                                </div>
                            </span> </span></li>
                    <li class="image item itemNo2 maintain-height selected" data-csa-c-type="uxElement"
                        data-csa-c-element-type="navigational" data-csa-c-action="image-block-main-image-hover"
                        data-csa-c-posy="3" style="cursor: pointer;" data-csa-c-id="1x06hy-uanvti-dus219-t5bl2j"><span
                            class="a-list-item"> <span class="a-declarative" data-action="main-image-click"
                                data-csa-c-type="widget" data-csa-c-func-deps="aui-da-main-image-click"
                                data-main-image-click="{}" data-ux-click="" data-csa-c-id="ho9jzn-509hmf-81cxi5-wbkeeu">
                                <div class="imgTagWrapper" style="height: 323.81px;">
                                    <img src="https://m.media-amazon.com/images/I/41GkJFhgMyL._UX342_.jpg"
                                        class="a-dynamic-image a-stretch-horizontal" id=""
                                        style="max-height: 272px; max-width: 272px;"
                                        data-old-hires="https://m.media-amazon.com/images/I/41GkJFhgMyL._UL1200_.jpg"
                                        data-a-manual-replacement="true">
                                </div>
                            </span> </span></li>
                </ul>
                <script type="text/javascript">
                    var mainImgContainer = document.getElementById("main-image-container");
                    var landingImage = document.getElementById("landingImage");
                    var imgWrapperDiv = document.getElementById("imgTagWrapperId");

                    var containerWidth = mainImgContainer.offsetWidth;
                    var holderRatio = 0.84;
                    var shouldAutoPlay = false;
                    var containerHeight = containerWidth / holderRatio;
                    containerHeight = Math.min(containerHeight, 700);

                    var dynamicImageMaxHeight = 679;
                    var dynamicImageMaxWidth = 679;

                    var aspectRatio = dynamicImageMaxWidth / dynamicImageMaxHeight;

                    var imageMaxHeight = containerHeight;
                    var imageMaxWidth = containerWidth;

                    if (!shouldAutoPlay && !false) {
                        imageMaxHeight = Math.min(imageMaxHeight, dynamicImageMaxHeight);
                        imageMaxWidth = Math.min(imageMaxWidth, dynamicImageMaxWidth);
                    }


                    var useImageBlockLeftColCentering = false;
                    var rightMargin = 40;

                    if (typeof useImageBlockLeftColCentering !== "undefined" && useImageBlockLeftColCentering) {
                        mainImgContainer.style.marginRight = rightMargin + "px";
                    }
                    mainImgContainer.style.height = containerHeight + "px";

                    var imageMaxWidthBasedOnHeight = imageMaxHeight * aspectRatio;
                    var imageMaxHeightBasedOnWidth = imageMaxWidth / aspectRatio;
                    imageMaxHeight = Math.min(imageMaxHeight, imageMaxHeightBasedOnWidth);
                    imageMaxWidth = Math.min(imageMaxWidth, imageMaxWidthBasedOnHeight);

                    if (imgWrapperDiv) {
                        imgWrapperDiv.style.height = containerHeight + "px";
                    }

                    if (landingImage) {
                        landingImage.style.maxHeight = imageMaxHeight + "px";
                        landingImage.style.maxWidth = imageMaxWidth + "px";
                    }

                    if (shouldAutoPlay) {
                        if (landingImage) {
                            landingImage.style.height = imageMaxHeight + "px";
                            landingImage.style.width = imageMaxWidth + "px";
                        }
                    }

                </script>

            </div>
            <div
                style="position: absolute; left: 50%; top: 50%; transform: translate3d(-50%, -50%, 0px); z-index: 3; width: 48px; height: 48px; border: 8px solid rgb(255, 255, 255); border-radius: 100%; display: none;">
                <span class="a-spinner a-spinner-medium"></span>
            </div>
        </div>
        <div id="image-canvas-caption" class="a-row">
            <div class="a-column a-span12 a-text-center"> <span id="canvasCaption" class="a-color-secondary">Click to
                    open expanded view</span> </div>
        </div>
        <div class="collections-collect-button"></div>
    </div>
</div>